@font-face{
    font-family: Alien Encounters;
    src: url('Alien-Encounters-Regular.ttf');
}
@font-face{
    font-family: Streamster;
    src: url('Streamster.ttf')
}
body
{
    background-image: url(background.jpg);
    background-size: 100%;
}
#suun{
    display:block;
    width: 50px;
    height: 50px;
}

nav.tabs{
    position: fixed;
}

div.button{
    background-color: aqua;
    width: 183.645px;
    font-size: 200%;
    margin-top: 5px;
    text-shadow: 0px -2px 1px #f05afb;
    opacity: .75;
}
a.button{
    text-decoration: none;
    color: black;
    text-shadow: 0px -2px 1px #f05afb;
}
div.button:hover{
    background-color: darkblue;
    
}
div.button:hover a{
    color: yellow;
}
.title{
    background-color: black;
    background-image: url(https://media.giphy.com/media/7LLviNCYAmMWA/giphy.gif);
    background-position-x: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 250%;
    font-family: Streamster;
    color: deeppink;
    
}
.heading{
    background-image: url(http://i0.kym-cdn.com/photos/images/newsfeed/000/620/586/800.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 600%;
    color: #F660AB;
    text-shadow: 4px 2px #5FF5AA;
    font-family: 'Alien Encounters';
}
.backbox{
    background-color:darkblue;
    float: left;
    width: 87.33153638814016%;
    height: 79.797979797979798%;
    position: absolute;
    top: 190px;
    left: 204px;
    overflow: scroll;
    color: ghostwhite;
    text-indent: 20px;

}

.topbox{
    border: solid 5px #ffffff;
    position:absolute;
    float: left;
    top: 185px;
    left: 199px;
    height: 79.797979797979798%;
    width: 87.33153638814016%;
    background:border-box;
    border-right: 0px;
    border-bottom: 0px;
}
p.innerbox{
    margin-left: 10px;
    font-size: 120%;
}
h3.innerbox{
    margin-left: 10px;
}
h1{
    font-size: 300%;
    font-family: monospace;
}
li{
    text-transform:full-width;
    font-family:monospace;
    font-size: 140%;
}

a{
    color:yellow;
}