@font-face{
    font-family: Alien Encounters;
    src: url('Alien-Encounters-Regular.ttf');
}
@font-face{
    font-family: Streamster;
    src: url('Streamster.ttf')
}
body
{
    background-image: url(http://www.imgbase.info/images/safe-wallpapers/digital_art/1_miscellaneous_digital_art/55904_1_miscellaneous_digital_art_vaporwave.jpg);
}
#suun{
    float: left;
    left: 50%;
    background-color: black;
    background-image: url()
   
}

nav.tabs{
    position: fixed;
}

div.button{
    background-color: aqua;
    width: 9.9%;
    font-size: 200%;
    margin-top: 5px;
    text-shadow: 0px -2px 1px #f05afb;
    opacity: .75;
}
a.button{
    text-decoration: none;
    color: black;
    text-shadow: 0px -2px 1px #f05afb;
}
div.button:hover{
    background-color: darkblue;
    
}
div.button:hover a{
    color: yellow;
}
.title{
    background-color: black;
    background-image: url(https://media.giphy.com/media/7LLviNCYAmMWA/giphy.gif);
    background-position-x: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 250%;
    font-family: Streamster;
    color: deeppink;
    
}
.heading{
    background-image: url(http://i0.kym-cdn.com/photos/images/newsfeed/000/620/586/800.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 600%;
    color: #F660AB;
    text-shadow: 4px 2px #5FF5AA;
    font-family: 'Alien Encounters';
}
.backbox{
    background-color:darkblue;
    float: left;
    width: 1619px;
    height: 790px;
    position: absolute;
    top: 190px;
    left: 203px;
    overflow: scroll;
    color: ghostwhite;
}
.bodytext{
    float: left;
    margin-left: 200px;
    margin-right: 30px;
    top: 175px;
    position: absolute;
    color: ghostwhite;
}
.topbox{
    border: solid 5px #ffffff;
    position:absolute;
    float: left;
    bottom: 5px;
    left: 197px;
    height: 790px;
    width: 1620px;
    background:border-box;
    border-right: 0px;
    
}
p.innerbox{
    margin-left: 10px;
    font-size: 120%;
}
h3.innerbox{
    margin-left: 10px;
}
h1{
    font-size: 300%;
    font-family: monospace;
}
li{
    text-transform:full-width;
    font-family:monospace;
    font-size: 140%;
}

a{
    color:yellow;
}